button{
    border: 1px solid white;
    background-color: white;
    font-size: 5rem;
    margin-top: 40%;
    /* border-style: none; */
}

.borderless{
  border: 1px solid white;
}

button:hover{
  cursor: pointer;
  border: 1px solid white;
}

.row{
  display: flex;
  /* flex-direction: column; */
}

.third-column {
  width: 33%;
  /* border: 2px solid salmon; */
  text-align: center;
}

.default{
  width: 100%;
}

.hidden {
  display: none;
}
